div#contents
  include header
  //- button
  div#hee.page
    div(id="btnHee")

  //- detail
  section#detail.page
    p#counter 0
    h1 title
    ul.members
    ul.urls
    dl.auth.hidden
      dt 認証ID
      dd.id ID
      dt パスワード
      dd.password PassWord
    dl.login.hidden
      dt ログインID
      dd.id ID
      dt パスワード
      dd.password PassWord
    ul.techs
    p.description Description
    
  //- summary
  section#summary.page
    h1 Summary
    table(summary='得点表です。それぞれのチームがもらった「へぇ〜」の数を表示しています。')
      tr
        th Members
        th Counts