- var title = 'controller';
!!! 5
html
  include includes/head
  body
    div#contents
      nav
        header
          button Menu
      //- list
      div#list
    
      //- button
      div#hee.page
        button(id="btnHee") Hee
    
      //- detail
      section#detail.page
        header
          ul
            li
              a Back
            li
              a Next
          p.counter 0
        h1 title
        ul.members
        ul.urls
        dl.auth.hidden
          dt 認証ID
          dd.id ID
          dt パスワード
          dd.password PassWord
        dl.login.hidden
          dt ログインID
          dd.id ID
          dt パスワード
          dd.password PassWord
        ul.techs
        p.description Description
        
      //- summary
      section#summary.page
        h1 Summary
        table
          tr
            th Members
            th Counts
      
    p(id="out")
    script(src='js/lib/socket.io.min.js')
    script(src='js/hee.min.js')