- var title = 'Hee App';
!!! 5
html
  include includes/head
  body
    include includes/contents
    include includes/scripts
    script(src='js/hee.basic.min.js')
    script(src='js/hee.screen.min.js')